
<h1>New Exile and MAS Weapons!</h1>
<p>
    New Exile and MAS Weapons Mods have been added to the Taviana Server. Please follow the new downloads on the mod page for access to the server
</p>
<p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=8e1ktRjeOuI" role="button" target="_blank">Learn more &raquo;</a>
  
    </p>