



<h1>Donate Today!</h1>
<p>
    If you like what you see, why not help ADK out! Head over to our Donation page for ArmA
    and donate to keep our servers alive. This server runs by you for you!
</p>
<p><a href="http://www.adkgamers.com/donate/goal-101-arma-server-payments/" class="btn btn-danger btn-lg" target="_blank">Help out our servers!</a></p>