

<h2>Visit us on our Forums or Teamspeak!</h2>
<p>
    Please feel free to head over to our main website www.adkgamers.com for more
    information about ADK and the community that puts all this great content together. If you would like
    to chat with the community check out the Teamspeak.<br /> 
    
</p>
<p><a href="http://www.adkgamers.com/forum/343-arma/" class="btn btn-primary btn-md" target="_blank">Visit our Arma Forums</a><a href="ts3server://ts.adkgamers.com?port=3796&channel=%5Bcspacer0%5D---ARMA---%2FOpen%20Chat%20Lobby%20-%20ARMA" class="btn btn-primary btn-md">ADK Teamspeak</a></p>
<br />
<i>(This will launch your teamspeak)</i>