@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Launch</h2>
    <table class="table dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Exile Version</th>
                <th>Players</th>
                <th>Join Server</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>=ADK= Exile Taviana UPDATED(0.9.41)+Mas/CUP+ADKMenu+ScoreBoard+AI</td>
                <td>0.9.41</td>
                <td></td>
                <td><a class="btn btn-primary" href="steam://rungameid/107410//-useBE -nolauncher -noSplash -skipIntro -world=empty -mod=%40Exile;%40TavianaA3;%40AllInArmaTerrainPack;%40NATO_Rus_Weapons;%40NATO_Rus_Vehicle;%40CUP_Units;%40CUP_Vehicles;%40CUP_Weapons;%40ASDG_JR; -connect=72.5.195.171 -port=2912" role="button">Launch</a></td>
            </tr>
        </tbody>
    </table>
</div>